Data Types and Structures Questions

In [ ]:
# 1. What are data structures, and why are they important?
"""
Data structures are a way of organizing and storing data in a computer so that it can be used efficiently.
They are important because they give a sytematic  way to organize, store, and manage data so that it can be used 
efficiently. Without them, information would just be a scattered mess, making it slow and difficult to work with
"""

In [ ]:
# 2. Explain the difference between mutable and immutable data types with examples.
"""
Mutable data types are those whose values or contents can be modified after they are created.
Example:- Lists, Dictionaries, sets
Immutable data types, conversely, are those whose values or contents cannot be altered once they are created.
example:- int, float, bool, str, Tuples
"""

In [1]:
# Example of mutable data
my_list = [1, 2, 3]
my_list.append(4)  # Modifies the original list
print(my_list)

[1, 2, 3, 4]

In [3]:
# Example of immutable data
my_tuple = (1, 2, 3)
# my_tuple[0] = 4  # This would raise a TypeError
new_tuple = my_tuple + (4,) # Creates a new tuple
print(my_tuple)
print(new_tuple)

(1, 2, 3)
(1, 2, 3, 4)

In [ ]:
# 3.  What are the main differences between lists and tuples in Python?
"""
List are mutable and Tuple are immutable.
List are defined using square brackets [] and Tuple are defined using parentheses ().
"""

In [ ]:
# 4.  Describe how dictionaries store data.
"""
Dictionaries store data as collections of key-value pairs.
Each unique key serves as an identifier, allowing direct access to its associated value.
Example :- 
thisdict = {"brand": "Ford", "model": "Mustang", "year": 1964}
"""

In [6]:
# 5. Why might you use a set instead of a list in Python?
"""
Because sets cannot have multiple occurrences of the same element, 
it makes sets highly useful to efficiently remove duplicate values from a list or tuple and,
If you don't want the values in the data to change use set insted of a list.
"""

In [ ]:
# 6. What is a string in Python, and how is it different from a list?
"""
A string in Python is an ordered sequence of characters, used to represent text. Strings are immutable.
They are enclosed in either single quotes (') or double quotes ("). 

>> Strings are immutable while lists are mutable.
>> Operations like concatenation (+) and repetition (*) work differently fro string and list.
>> Strings are useful for representing textual data, while lists are versatile data structures that can store different types of elements.
"""

In [ ]:
# 7. How do tuples ensure data integrity in Python?
"""
Tuples in Python ensure data integrity primarily through their immutability.
This means that once a tuple is created, its elements cannot be modified, added, or removed.
"""

In [ ]:
# 8. What is a hash table, and how does it relate to dictionaries in Python?
"""
Hash tables are a type of data structure in which the address/index value of the data element is generated from a hash function. 
This enables very fast data access as the index value behaves as a key for the data value.
In Python, the Dictionary data types represent the implementation of hash tables. 
The Keys in the dictionary are hashable–they are generated by a hash function
which generates a unique result for each unique value supplied to the hash function.
"""

In [ ]:
# 9. Can lists contain different data types in Python?
"""
Yes, Python lists can contain elements of different data types. 
"""

In [ ]:
# 10.  Explain why strings are immutable in Python.
"""
Strings in Python are immutable, meaning that once a string object is created, its content cannot be modified.
Any operation that appears to "change" a string, such as concatenation or replacement,
actually results in the creation of a new string object in memory. The variable then points to this new object.
"""

In [ ]:
# 11. What advantages do dictionaries offer over lists for certain tasks?
"""
Dictionaries store (key:value) pairs, allow fast lookups by key, and usse meaningful keys instead of numeric indexes,
making them ideal for mapping and aviding duplicating keys.
"""

In [ ]:
# 12. Describe a scenario where using a tuple would be preferable over a list.
"""
Use a tuple when the data is fixed/immutable or when you need a hashable record to use a dictionary key or set element.
"""

In [ ]:
# 13. How do sets handle duplicate values in Python?
"""
Python sets are inherently designed to store only unique elements. 
This means that when you attempt to add a duplicate value to a set, the set simply ignores the addition;
it does not raise an error, nor does it store the redundant value. 
The set will only contain one instance of each distinct element.
"""

In [ ]:
# 14. How does the “in” keyword work differently for lists and dictionaries?
"""
When using in with a list, Python performs a sequential search through the list's elements.
It checks each element one by one from the beginning until it finds a match or reaches the end of the list.

When using in with a dictionary, Python checks for the presence of a key, not a value.
Dictionaries are implemented using hash tables, which allow for very efficient lookups.
"""

In [ ]:
# 15. Can you modify the elements of a tuple? Explain why or why not.
"""
The elements of a tuple cannot be modified directly after the tuple has been created.
This is because tuples are immutable data types in Python.
"""

In [ ]:
# 16.  What is a nested dictionary, and give an example of its use case.
"""
A nested dictionary is a dictionary that contains another dictionary as a value.
It helps organize complex or grouped data, like student details or product info in a clean and structured way.
"""
# Example
user = {"aabhash":{"age": 20, "email": a@gmail.com},
        "ritik": {"age": 22, "email": r@gmail.com}}

In [ ]:
# 17.  Describe the time complexity of accessing elements in a dictionary.
"""
Average-case time complexity for lookup, insertion, and deletion is  O(1) [constant];
worst-case can degrade to O(n) in rare pathological cases.
"""

In [ ]:
# 18. In what situations are lists preferred over dictionaries.
"""
Use list when you need ordered sequences, indexing/slicing, duplicates, or to preseve positional data and perform sequence operations.
"""

In [ ]:
# 19. Why are dictionaries considered unordered, and how does that affect data retrieval?
"""
Dictionaries are considered unordered because they don't guarantee a specific order for their elements.
This means the order in which you insert items into a dictionary might not be the same order you get when you iterate through it or print it.
This contrasts with ordered data structures like lists or tuples, where the order of elements is preserved. 
"""

In [ ]:
# 20. Explain the difference between a list and a dictionary in terms of data retrieval.
"""
A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. 
Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.
"""

Practical Questions

In [1]:
# 1. Write a code to create a string with your name and print it.
name = "Aabhash Yadav"
print(name)

Aabhash Yadav

In [3]:
# 2. Write a code to find the length of the string "Hello World".
my_string = "Hello World"
length = len(my_string)
print(length)

11

In [9]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
string1 = "Python Programming"
string1[0:3]

'Pyt'

In [19]:
# 4. Write a code to convert the string "hello" to uppercase.
string2 = "hello"
string2.upper()

'HELLO'

In [16]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
string3 = "I like apple"
string3.replace("apple","orange")

'I like orange'

In [17]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [23]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
number1 = [1, 2, 3, 4]
number1.append(10)
print(number1)

[1, 2, 3, 4, 10]

In [25]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
number2 = [1, 2, 3, 4, 5]
number2.remove(3)
print(number2)

[1, 2, 4, 5]

In [26]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
element = ['a', 'b', 'c', 'd']
element[1]

'b'

In [28]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
list1 = [10, 20, 30, 40, 50]
list1.reverse()
print(list1)

[50, 40, 30, 20, 10]

In [30]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

In [33]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[1:]

('green', 'blue', 'yellow')

In [34]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple2 = (10, 20, 5, 15)
min(tuple2)

5

In [35]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple3 = ('dog', 'cat', 'rabbit')
tuple3.index('cat')

1

In [36]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple4 = ('apple', 'mango', 'kiwi')
'kiwi' in tuple4

True

In [38]:
# 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [40]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set11 = {1, 2, 3, 4, 5}
set11.clear()
print(set11)

set()

In [41]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set22 = {1, 2, 3, 4}
set22.remove(4)
print(set22)

{1, 2, 3}

In [42]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set44 = {1, 2, 3}
set55 = {3, 4, 5}
union_set = set44.union(set55)
print(union_set)

{1, 2, 3, 4, 5}

In [44]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set66 = {1, 2, 3}
set77 = {2, 3, 4}
inters_set = set66.intersection(set77)
print(inters_set)

{2, 3}

In [3]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
info = {'name': 'Aabhash Yadav', 'age': 20, 'city': 'Prayagraj'}
print(info)

{'name': 'Aabhash Yadav', 'age': 20, 'city': 'Prayagraj'}

In [4]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [5]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict1 = {'name': 'Alice', 'age': 30}
dict1["name"]

'Alice'

In [10]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict2 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict2.pop("age")
print(dict2)

{'name': 'Bob', 'city': 'New York'}

In [4]:
# 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict3 = {'name': 'Alice', 'city': 'Paris'}
if 'city' in dict3:
    print('city is present in the dictionary')
else:
    print('city is not present in the dictionary')

city is present in the dictionary

In [5]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list1 = [1, 2, 3, 4, 5]
my_tuple1 = ('apple', 'banana', 'cherry')
my_dict1 = {'name': 'Bob', 'age': 22, 'city': 'New York'}
print('List:', my_list1)
print('Tuple:', my_tuple1)
print('Dictionary:', my_dict1)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [11]:
# 27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = random.sample(range(1,101),5)
random.shuffle(numbers)
sorted_numbers = sorted(numbers)
print('Original List:', numbers)
print('Sorted List:', sorted_numbers)

Original List: [11, 8, 6, 78, 30]
Sorted List: [6, 8, 11, 30, 78]

In [12]:
# 28. Write a code to create a list with strings and print the element at the third index
list111 = ['apple', 'banana', 'mango', 'ram', 'rahul']
list111[3]

'ram'

In [14]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'aabhash', 'age': 20}
dict2 = {'city': 'prayagraj', 'country': 'India'}
dict1.update(dict2)
print(dict1)

{'name': 'aabhash', 'age': 20, 'city': 'prayagraj', 'country': 'India'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
list111 = ['apple', 'banana', 'mango', 'ram', 'rahul']